/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: var(--font-primary);
  font-variation-settings: 'wght' var(--font-weight-body);

  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;

  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/* .header {} */

.header__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  font-family: var(--font-accent);
  text-transform: uppercase;

  border: 2px solid var(--accent-color);
  padding: 128px 120px;
  margin-top: 100px;
  margin-bottom: 102px;
  background-color: var(--background-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  margin-bottom: 100px;
}

.section-post {
  max-width: 696px;
  border: 3px solid var(--accent-color);
  margin-bottom: 52px;
  background-color: var(--background-color);
}

.post__title {
  font-family: var(--font-primary);
  font-variation-settings: var(--font-weight-title);
  font-size: 18px;
  padding: 3px 10px 3px 10px;
  border-bottom: 2px solid var(--accent-color);
}

.post__image-container {
  position: relative;
}

.post__image {
  display: block;
  width: 100%;
}

.post__image-overlay {
  position: absolute;
  content: '';
  top: 25px;
  right: 25px;

  font-family: var(--font-accent);
  font-weight: var(--font-weight-body);
  font-size: 14px;
  /* text-transform: uppercase; */

  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px -1px 0 var(--stroke-color),
    1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color),
    1px 1px 0 var(--stroke-color);
}

@supports (text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color)) {
  .post__image-overlay {
    text-shadow: none;
    text-stroke: 1px var(--stroke-color);
    -webkit-text-stroke: 1px var(--stroke-color);
  }
}

.post__text-container {
  border-top: 2px solid var(--accent-color);
  padding: 32px 22px 27px 23px;
}

.post__text {
  font-size: 18px;
  line-height: 117%;
  font-weight: var(--font-weight-body);
}

.post__text:not(:last-child) {
  margin-bottom: 25px;
}

.card__box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  margin-right: 24px;
  margin-bottom: 24px;
}

/* .card__like-button {} */

.card__icon-button {
  display: flex;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  height: 34px;
  border: none;
  outline: none;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

/* .like-icon {} */

.btn {
  position: relative;
  z-index: 1;
  transition: box-shadow 0.3s ease;

  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
  padding: 11px 35px;
  cursor: pointer;
  appearance: none;
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn:hover::before {
  transform: scaleX(1);
}

/* ==== Фильтры на изображения ==== */

.filter-hue-rotate {
  filter: hue-rotate(180deg);
}

.filter-multiple {
  filter: contrast(35%) hue-rotate(35deg) saturate(140%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-saturate {
  filter: saturate(250%);
}

.filter-invert {
  filter: invert(90%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-sepia {
  filter: sepia(80%);
}

.dialog__save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 19px;
  margin: 0 auto;
}

.button__text {
  color: var(--background-color);
  mix-blend-mode: difference;
}

.button__icon {
  mix-blend-mode: difference;
  color: var(--background-color);
  block-size: 22px;
  inline-size: 22px;
}

.dialog__icon {
  block-size: 40px;
}

.dialog {
  font-family: var(--font-accent);
  font-weight: var(--font-weight-body);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;

  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  width: 357px;

  padding: 32px 25px 30px 32px;
}

.dialog[open] {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--accent-color);
}

.dialog__text {
  width: 100%;
  max-width: 234px;
}

.dialog__btn-overlay {
  display: flex;
  justify-content: center;
  padding: 13px 142px;
}

@media (width <=663px) {
  .header__container {
    padding: 128px 14px;
  }
}

@media (width <=376px) {

  .header__container {
    padding: 120px 14px;
    margin-bottom: 100px;
  }

  .post__title {
    padding: 3px 14px 3px 10px;
  }

  .post__text-container {
    padding: 26px 27px 27px 23px;
  }

  .section-post {
    margin-bottom: 54px;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
}

  .dialog__save {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px 20px;
    gap: 4px;
  }

  .dialog__btn-overlay {
    padding: 13px 132px;
  }
}