/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-primary: 'Inter-Variable', sans-serif;   /* Основной шрифт */
    --font-accent: 'PressStart2P-Regular', cursive;
    --font-weight-body: 400; /* Толщина основного текста карточки */
    --font-weight-title: 700; /* Толщина заголовка карточки */
    /* --font-variation-weight: 400; Основной вес шрифта для page */


    /* --background-image: ; */

    --accent-color: #000;
    --decor-color: #fff;
}

